In [265]:
import requests
import pandas as pd
import json

df1 = pd.read_excel("/Users/brijeshgoharia/Desktop/KMK CONSULTING INC/NPI_PROJECT/HCP_list1.xlsx")
df1 = df1[["First", "Name", "City", "State", "Zip Code"]]

In [266]:
df1.head(10)

     First         Name             City State  Zip Code
0     John      Affeldt       Loma Linda    CA     92354
1  Quentin        Allen           Stuart    FL     34994
2    Zaina  Al-Mohatsab          Houston    TX     77030
3     Bita      Asghari  Needham Heights    MA      2494
4     Roya        Attar          Jackson    MI     39216
5  Brandon        Ayres     Bala Cynwood    PA     19004
6   Shamik        Bafna        Cleveland    OH     44141
7  Melissa      Barnett       Sacramento    CA     95817
8      Ken      Beckman      Westerville    OH     43082
9   Walter        Beebe           Dallas    TX     75231

In [281]:
#ERASE
#Test
response_dfs = []

for i, row in df1.iterrows():
    city =row["City"]
    city = city.split(" ")
    s = "+"
    city = s.join(city)
    
        
    state =row["State"]
    state = state.split(" ")
    s = "+"
    state = s.join(state).lower()
    
    first =row["First"]
    first = first.split(" ")
    s = "+"
    first = s.join(first)
    
    last =row["Name"]
    last = last.split(" ")
    s = "+"
    last = s.join(last)
    
    #query = """https://clinicaltables.nlm.nih.gov/api/npi_idv/v3/search?terms={}&q={}*+{}*+{}&df=NPI,name.first,name.last,addr_practice.state""".format(state,first,last,state)
    query = """https://clinicaltables.nlm.nih.gov/api/npi_idv/v3/search?terms={}&q={}+{}*+{}*&ef=NPI,name.first,name.last,addr_practice.state""".format(state,state,first,last)
    
    print(query)
    rez1 = requests.get(query)
    print(rez1)
    
    #rez1_df = pd.DataFrame(rez1)
    a = rez1.text  
    b=a[a.find('{'):a.find('}')+1]#.strip('{').split(',')
    c=eval(b)
    rez1_df=pd.DataFrame.from_dict(c)
    print(rez1_df)
    if rez1_df.empty:
        print("Empty")
        next
    else:
#         rez2=rez1_df['results'][0]
#         rez1_norm_df = pd.json_normalize(rez2)
#         rez3=rez1_norm_df['addresses']
#         rez2_norm_df = pd.json_normalize(rez3[0])
#         data1=rez1_norm_df[['number','basic.first_name','basic.last_name',]]
#         data1['state']=rez2_norm_df['state'].iloc[0]
        response_dfs.append(rez1_df)
        #rez3 = pd.DataFrame()

https://clinicaltables.nlm.nih.gov/api/npi_idv/v3/search?&q=ca+john*+affeldt*&ef=NPI,name.first,name.last,addr_practice.state
<Response [400]>

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [277]:
response_dfs

[          NPI name.first name.last addr_practice.state
 0  1275523375       JOHN   AFFELDT                  CA,
           NPI name.first name.last addr_practice.state
 0  1164483301    QUENTIN     ALLEN                  FL,
           NPI name.first name.last addr_practice.state
 0  1174974380       BITA   ASGHARI                  MA,
           NPI name.first name.last addr_practice.state
 0  1225695570       NEAL  AL-ATTAR                  MI,
           NPI name.first name.last addr_practice.state
 0  1710985460    BRANDON     AYRES                  PA,
           NPI name.first name.last addr_practice.state
 0  1073952651    MELISSA   BARNETT                  CA,
           NPI name.first name.last addr_practice.state
 0  1699731018    KENNETH   BECKMAN                  OH,
           NPI name.first name.last addr_practice.state
 0  1093742207     WALTER     BEEBE                  TX,
           NPI name.first name.last addr_practice.state
 0  1194913988       BILL      BELL                  CA
 1  1972870079     BILLIE     GOMES                  CA
 2  1811438435     BILLIE     LYNCH                  CA,
           NPI name.first name.last addr_practice.state
 0  1376541540      GREGG     BERDY                  MO,
           NPI name.first     name.last addr_practice.state
 0  1568428910       MARC  BLOOMENSTEIN                  AZ,
           NPI name.first name.last addr_practice.state
 0  1952302523      FRANK    BOWDEN                  FL
 1  1497799696      FRANK   STANLEY                  FL,
           NPI name.first name.last addr_practice.state
 0  1922189844    CRYSTAL    BRIMER                  NC,
           NPI name.first  name.last addr_practice.state
 0  1366802951     ASHLEY  BRISSETTE                  NY,
           NPI name.first name.last addr_practice.state
 0  1568750669       KANI     BROWN                  MA,
           NPI name.first name.last addr_practice.state
 0  1659474120       MILE    BRUJIC                  OH,
           NPI name.first name.last addr_practice.state
 0  1154397875       LISA     BUNIN                  PA,
           NPI name.first name.last addr_practice.state
 0  1114901758      TERRY    BURRIS                  OR,
           NPI name.first name.last addr_practice.state
 0  1114901758      TERRY    BURRIS                  OR,
           NPI name.first name.last addr_practice.state
 0  1851512354     CARLOS   BUZNEGO                  FL,
           NPI name.first name.last addr_practice.state
 0  1205827912    GREGORY  CALDWELL                  PA
 1  1396951042    MAUREEN  GREGORIO                  PA
 2  1376886549    GREGORY  MAJEWSKY                  PA,
           NPI name.first name.last addr_practice.state
 0  1205827912    GREGORY  CALDWELL                  PA
 1  1396951042    MAUREEN  GREGORIO                  PA
 2  1376886549    GREGORY  MAJEWSKY                  PA,
           NPI name.first name.last addr_practice.state
 0  1649231192       DORI   CARLSON                  ND,
           NPI name.first name.last addr_practice.state
 0  1396802336     RONALD      DEYO                  IL
 1  1700803269     RONALD      CARR                  IL
 2  1588750731     RONALD   CARROLL                  IL,
           NPI name.first name.last addr_practice.state
 0  1477596831    RAYMOND     CHANG                  CA
 1  1821654468    RAYMOND     CHANG                  CA
 2  1124550579    RAYMOND      CHAN                  CA
 3  1265419865    RAYMOND      CHAN                  CA
 4  1902282999    RAYMOND      CHAN                  CA
 5  1518372093    RAYMOND      CHAN                  CA
 6  1619256351    RAYMOND      CHAN                  CA,
           NPI name.first name.last addr_practice.state
 0  1477596831    RAYMOND     CHANG                  CA
 1  1821654468    RAYMOND     CHANG                  CA
 2  1124550579    RAYMOND      CHAN                  CA
 3  1265419865    RAYMOND      CHAN                  CA
 4  1902282999    RAYMOND      CHAN                  CA
 5  1518372093    RAYMOND      CHAN                  CA
 6  1619256351    RAYMOND      CHAN                  CA,
           NPI name.first name.last addr_practice.state
 0  1619472784      TYLER    TOMICH                  OH,
           NPI name.first name.last addr_practice.state
 0  1477559854       LISA     CIBIK                  PA,
           NPI name.first name.last addr_practice.state
 0  1548324205    JESSICA  CIRALSKY                  NY,
           NPI name.first name.last addr_practice.state
 0  1891248084    MICAELA   CROWLEY                  MA,
           NPI name.first   name.last addr_practice.state
 0  1265407084      DEREK  CUNNINGHAM                  TX,
           NPI name.first name.last addr_practice.state
 0  1407865538     ROBERT   CYKIERT                  NY,
           NPI name.first name.last addr_practice.state
 0  1053395723       REZA      DANA                  MA,
           NPI   name.first name.last addr_practice.state
 0  1174926356  VINCENT TAI      DANG                  CA
 1  1417947102      VINCENT      DANG                  CA
 2  1053503979          VIN      DANG                  CA
 3  1629235825         VINH      DANG                  CA
 4  1699746917         VINH      DANG                  CA
 5  1487971040     JENNIFER      DANG                  CA,
           NPI name.first name.last addr_practice.state
 0  1104319219     GERARD  D'AVERSA                  NY
 1  1548265523     GERARD  D'AVERSA                  NY,
           NPI name.first name.last addr_practice.state
 0  1780683052       MARY  DAVIDIAN                  NY,
           NPI name.first name.last addr_practice.state
 0  1396839924     JOSHUA  DAVIDSON                  LA
 1  1881026003     JOSHUA  DAVIDSON                  LA,
           NPI name.first name.last addr_practice.state
 0  1780774455    RICHARD  DAVIDSON                  CO,
           NPI name.first name.last addr_practice.state
 0  1609957786       NEEL     DESAI                  FL,
           NPI name.first  name.last addr_practice.state
 0  1043316870     THOMAS  DESTEFANO                  PA,
           NPI name.first name.last addr_practice.state
 0  1629037296    DOUGLAS   DEVRIES                  NV,
           NPI name.first name.last addr_practice.state
 0  1063453819      DAMON   DIERKER                  IN,
           NPI name.first name.last addr_practice.state
 0  1700991916      TRACY      DOLL                  OR,
           NPI name.first  name.last addr_practice.state
 0  1013950237    KENDALL  DONALDSON                  FL,
           NPI name.first   name.last addr_practice.state
 0  1891790770       ERIC  DONNENFELD                  NY,
           NPI name.first name.last addr_practice.state
 0  1811992019    MICHAEL      ENDL                  NY,
           NPI name.first     name.last addr_practice.state
 0  1205812997      ALICE  EPITROPOULOS                  OH,
           NPI name.first name.last addr_practice.state
 0  1427039825      RANDY   EPSTEIN                  IL,
           NPI name.first name.last addr_practice.state
 0  1427038249     ARTHUR   EPSTEIN                  AZ,
           NPI name.first name.last addr_practice.state
 0  1598750929      AHMAD     FAHMY                  MN,
           NPI name.first name.last addr_practice.state
 0  1275589756     MARJAN     FARID                  CA,
           NPI name.first name.last addr_practice.state
 0  1043312887       ALAN  FAULKNER                  HI,
           NPI name.first name.last addr_practice.state
 0  1821056706    WILLIAM  FAULKNER                  OH,
           NPI name.first name.last addr_practice.state
 0  1497861090       JOHN   FAVETTA                  NJ,
           NPI name.first name.last addr_practice.state
 0  1063401362       LISA   FEULNER                  MD,
           NPI name.first name.last addr_practice.state
 0  1255308805       GARY    FOULKS                  KY,
           NPI name.first name.last addr_practice.state
 0  1114140795     NICOLE      FRAM                  CA,
           NPI name.first name.last addr_practice.state
 0  1881878262      SUMIT      GARG                  CA,
           NPI name.first name.last addr_practice.state
 0  1144224627     JOHNNY    GAYTON                  GA,
           NPI name.first    name.last addr_practice.state
 0  1164503678      DAVID       GEFFEN                  CA
 1  1912438938     SOPHIE      PEETERS                  CA
 2  1588982771       RUDI  SCHARNWEBER                  CA
 3  1861736589       DYAN      SALINAS                  CA
 4  1699193797      GENIA    DUBROVSKY                  CA
 5  1932336955  ELIZABETH     VOLKMANN                  CA
 6  1104105535      MANAL        HABIB                  CA,
           NPI name.first name.last addr_practice.state
 0  1831211051       JOEL    SANDER                  MO
 1  1922004936       JOEL       RAY                  MO
 2  1548709082     JOESPH     SWEET                  MO
 3  1003075458        JOE      NEAL                  MO,
           NPI name.first name.last addr_practice.state
 0  1891833695     DAMIEN  GOLDBERG                  CA,
           NPI name.first name.last addr_practice.state
 0  1790848810      DAVID   GOLDMAN                  AZ,
           NPI name.first name.last addr_practice.state
 0  1598730301    AGUSTIN  GONZALEZ                  TX,
           NPI name.first name.last addr_practice.state
 0  1518097815    CAMERON  GRIFFITH                  MS,
           NPI name.first name.last addr_practice.state
 0  1326056128     ANDREW   GURWOOD                  PA,
           NPI name.first name.last addr_practice.state
 0  1265568091      SCOTT   HANCOCK                  FL
 1  1528542339     HANNAH     SCOTT                  FL
 2  1316949209      SCOTT   HANDLEY                  FL
 3  1104824051      SCOTT       HAN                  FL
 4  1912544677     HANNAH     SCOTT                  FL
 5  1114288669      SCOTT    HANSEN                  FL
 6  1679595615      SCOTT    HANNUM                  FL,
           NPI name.first name.last addr_practice.state
 0  1508851387      DAVID   HARDTEN                  MN,
           NPI name.first  name.last addr_practice.state
 0  1417942665      SCOTT  HAUSWIRTH                  MN,
           NPI name.first  name.last addr_practice.state
 0  1043270796    DOROTHY  HITCHMOTH                  NH,
           NPI name.first    name.last addr_practice.state
 0  1760025704      EDDIE        JONES                  OH
 1  1285292326  STEPHANIE    HOLLANDER                  OH
 2  1437646304       SETH      HOLLAND                  OH
 3  1346703204      CONOR      HOLLAND                  OH
 4  1538688767    KATHRYN        EDGAR                  OH
 5  1609431311    MICHAEL  STRUFFOLINO                  OH
 6  1558763938      JAMES        SCOTT                  OH,
           NPI name.first name.last addr_practice.state
 0  1326158478     MILTON       HOM                  CA,
           NPI name.first   name.last addr_practice.state
 0  1033175484       JOHN  HOVANESIAN                  CA,
           NPI name.first name.last addr_practice.state
 0  1669675849      JERRY   HUDGINS                  TX
 1  1063464907      JERRY  HUCKABEE                  TX
 2  1194705319      JERRY  HUNSAKER                  TX
 3  1780097121    JERRYCE    HUDSON                  TX
 4  1417059858      JERRY   HUDKINS                  TX
 5  1730142472      JERRY    MARTIN                  TX
 6  1043326960      JERRY  SESSIONS                  TX,
           NPI name.first name.last addr_practice.state
 0  1649251562     DENNIS  IADAROLA                  CT,
           NPI name.first name.last addr_practice.state
 0  1184934069    MITCHEL     IBACH                  SD,
           NPI name.first name.last addr_practice.state
 0  1477521052     HAROON     ILYAS                  FL,
           NPI name.first   name.last addr_practice.state
 0  1821282609       MILA  IOUSSIFOVA                  OR,
           NPI name.first name.last addr_practice.state
 0  1902958929   MITCHELL   JACKSON                  IL,
           NPI name.first name.last addr_practice.state
 0  1275549099      SUSAN     JANIK                  CT,
           NPI name.first name.last addr_practice.state
 0  1417957937      APRIL    JASPER                  FL,
           NPI name.first name.last addr_practice.state
 0  1417957937      APRIL    JASPER                  FL,
           NPI name.first name.last addr_practice.state
 0  1790882504     GEORGE    OAKLEY                  KY
 1  1467760975       JOHN      REED                  KY
 2  1255475232       JOHN      REID                  KY
 3  1457401945       JOHN     BLACK                  KY
 4  1649578527  FREDERICK  JOHNSTON                  KY
 5  1154451425       JOHN     CLARK                  KY
 6  1134215379     GEORGE     JOHNS                  KY,
           NPI name.first name.last addr_practice.state
 0  1386634699        ULA  JURKUNAS                  MA,
           NPI name.first name.last addr_practice.state
 0  1184725152  ALEXANDER    KABIRI                  NY,
           NPI name.first name.last addr_practice.state
 0  1013029719      DAVID    KADING                  WA,
           NPI name.first name.last addr_practice.state
 0  1477659027       PAUL      KANG                  MD
 1  1487680070       PAUL      KANG                  MD,
           NPI name.first name.last addr_practice.state
 0  1891772489      SHANE   KANNARR                  KS,
           NPI name.first name.last addr_practice.state
 0  1619910569       PAUL  KARPECKI                  KY,
           NPI name.first name.last addr_practice.state
 0  1801906722    DOUGLAS    KATSEV                  CA,
           NPI name.first name.last addr_practice.state
 0  1477587509      JAMES      KATZ                  IL,
           NPI name.first   name.last addr_practice.state
 0  1093971079    SUMITRA  KHANDELWAL                  TX,
           NPI name.first name.last addr_practice.state
 0  1760566822      TERRY       KIM                  NC,
           NPI name.first name.last addr_practice.state
 0  1629188073     AALEYA  KOREISHI                  TX,
           NPI name.first name.last addr_practice.state
 0  1487681482     ROBERT   LATKANY                  NY,
           NPI name.first   name.last addr_practice.state
 0  1316088966    WILLIAM         LEE                  GA
 1  1093339319    YOLANDA    WILLIAMS                  GA
 2  1376976209      EDDIE    WILLIAMS                  GA
 3  1487637708      KAREN  WILLIAMSON                  GA
 4  1760577092    WILLIAM     JOHNSON                  GA
 5  1366406787    WILLIAM         LEE                  GA
 6  1023225935        JAY    WILLIAMS                  GA,
           NPI name.first  name.last addr_practice.state
 0  1740275908    RICHARD  LINDSTROM                  MN,
           NPI name.first name.last addr_practice.state
 0  1528227691   JENNIFER       LOH                  FL,
           NPI name.first  name.last addr_practice.state
 0  1982645370      BLAIR  LONSBERRY                  OR,
           NPI name.first name.last addr_practice.state
 0  1689654592       IVAN       MAC                  NC,
           NPI name.first    name.last addr_practice.state
 0  1467800458     MAHESH      FRANCIS                  CA
 1  1659780914     VAIKOM    MAHADEVAN                  CA
 2  1205288818    MAHALET  WELDE SEMAT                  CA
 3  1770987315    MAHMOUD     KADDOURA                  CA
 4  1750918538      TALIA       MAHONY                  CA
 5  1962990085      CHERI          MAH                  CA
 6  1013408970   NAUSHEEN      MAHMOOD                  CA,
           NPI name.first name.last addr_practice.state
 0  1912988981      PARAG  MAJMUDAR                  IL,
           NPI name.first name.last addr_practice.state
 0  1396743555     RANJAN  MALHOTRA                  MO,
           NPI name.first name.last addr_practice.state
 0  1124261375     JOSHUA      MALI                  FL,
           NPI name.first name.last addr_practice.state
 0  1639112097    MATTHEW    MARANO                  NJ,
           NPI name.first name.last addr_practice.state
 0  1467887588    JEFFREY    MARTIN                  NY
 1  1770709701    JEFFREY    MARTIN                  NY
 2  1801866868    JEFFREY  MARTINEZ                  NY
 3  1033562962     MARTIN   MCNALLY                  NY
 4  1437160579    JEFFREY    MARTIN                  NY
 5  1699854760     JOSEPH   MARTINO                  NY
 6  1780654178     MARTIN    KAPLAN                  NY,
           NPI name.first name.last addr_practice.state
 0  1821079989      DAVID  MASIHDAS                  UT,
           NPI name.first name.last addr_practice.state
 0  1154324457  KATHERINE  MASTROTA                  NY,
           NPI name.first name.last addr_practice.state
 0  1013953116      BRIAN    MATHIE                  OH,
           NPI name.first  name.last addr_practice.state
 0  1689635807    CYNTHIA  MATOSSIAN                  NJ,
           NPI name.first name.last addr_practice.state
 0  1154311058        JAY  MATTHEIS                  NV,
           NPI name.first name.last addr_practice.state
 0  1700840493   CATHLEEN    MCCABE                  FL,
           NPI  name.first name.last addr_practice.state
 0  1356348452  MARGUERITE  MCDONALD                  NY,
           NPI name.first name.last addr_practice.state
 0  1720057607     SELINA     MCGEE                  OK,
           NPI name.first name.last addr_practice.state
 0  1689661886       JOHN   MCGREAL                  MO,
           NPI name.first name.last addr_practice.state
 0  1700842267    MATTHEW  MCMENEMY                  TX,
           NPI name.first name.last addr_practice.state
 0  1104243815   BRITTANY  MCMURREN                  CA,
           NPI name.first name.last addr_practice.state
 0  1669434155     ARTHUR    MEDINA                  TX
 1  1164418752       LUIS    MEDINA                  TX,
           NPI name.first name.last addr_practice.state
 0  1255658373     BEERAN  MEGHPARA                  PA,
           NPI name.first name.last addr_practice.state
 0  1861451049     EDWARD     MEIER                  OH,
           NPI name.first name.last addr_practice.state
 0  1831326321    CHANDRA   MICKLES                  FL,
           NPI name.first  name.last addr_practice.state
 0  1134509144      JASON     MILLER                  MI
 1  1548528821      JASON     MILLER                  MI
 2  1861041998      JASON     MILLER                  MI
 3  1548883242      JASON   SANDFORD                  MI
 4  1881001287      JASON  ZIMOSTRAD                  MI
 5  1326696501      JASON       LYON                  MI,
           NPI name.first name.last addr_practice.state
 0  1821023839    GREGORY     MOORE                  WV
 1  1972139582    GREGORY    GEORGE                  WV,
           NPI name.first name.last addr_practice.state
 0  1013907773       SCOT    MORRIS                  CO
 1  1720291354      SCOTT  MORRISON                  CO,
           NPI name.first name.last addr_practice.state
 0  1962475806    MARLENE    MOSTER                  PA,
           NPI  name.first name.last addr_practice.state
 0  1013002617  JACQUELINE    MULLER                  NY
 1  1558337485  JACQUELINE    MULLER                  NY,
           NPI name.first name.last addr_practice.state
 0  1568465813      SEEMA     NANDA                  TX,
           NPI name.first name.last addr_practice.state
 0  1174680409  KRISTIANA      NEFF                  SC,
           NPI name.first name.last addr_practice.state
 0  1558327817      KELLY   NICHOLS                  AL,
           NPI name.first name.last addr_practice.state
 0  1104853613    MICHAEL  NORDLUND                  OH,
           NPI name.first name.last addr_practice.state
 0  1861417396   TERRENCE   O'BRIEN                  FL,

In [273]:
#TEST
df2 = pd.concat(response_dfs, axis=0)
df3=df2.rename(columns={"name.first": "First", "name.last": "Name", "addr_practice.state": "State"})


df3['First'] = df3['First'].str.lower()
df3['Name'] = df3['Name'].str.lower()

df1['First'] = df1['First'].str.lower()
df1['Name'] = df1['Name'].str.lower()


df4 = pd.merge(df1, df3, on=["First", "Name","State"], indicator=True, how="left")
df4

,First,Name,City,State,Zip Code,NPI,_merge
0,john,affeldt,Loma Linda,CA,92354,1275523375,both
1,quentin,allen,Stuart,FL,34994,1164483301,both
2,zaina,al-mohatsab,Houston,TX,77030,NaN,left_only
3,bita,asghari,Needham Heights,MA,2494,1174974380,both
4,roya,attar,Jackson,MI,39216,NaN,left_only
...,...,...,...,...,...,...,...
263,helen,wu,Boston,MA,2116,1982669586,both
264,richard,yee,Houston,TX,77092,1205817764,both
265,elizabeth,yeu,Norfolk,VA,23502,NaN,left_only
266,gerald,zaidman,Hathorne,NY,10541,1043203995,both
267,rene,zamora,Henderson,NV,89074,1417942285,both